header {
    height: 50%;
    width: 100%;
    border-style: double;
    background-color: #ACEDFF;
}
 h1 {
     color: white;
 }


@media screen and (min-width:480px){
    header {
    background-color: #89BBFE;
    }

    h1 {
    font-size: 16pt;
    }
}

@media screen and (min-width:768px){
    header {
    background-color: #6f8ab7;
    }
    h1 {
        font-size: 20pt;
        }
    
    }


@media screen and (min-width:1024px){
    header {
    background-color: #615d6c;
    }
    h1 {
        font-size: 24pt;
        }

}